.job-archive-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #d6e9ee;
    padding: 20px;
}

.search-input-button-group {
    display: flex;
}
input#keyword {
    border: 1px solid #0b6e89;
    padding: 15px 30px;
    width: 300px;
    border-radius: 5px 0 0 5px;
}
button.archive-job-serach-button {
    background: #0b6e89;
    padding: 15px;
    border: 1px solid #0b6e89;
    border-radius: 0 5px 5px 0;
    color: #fff;
}
.container-100 {
    background: #f3f7f0;
}
div#datafetch {
}



.portfolio-single-container {
    color: #000;
}
.portfolio-archive-container,
.portfolio-single-container {
	padding: 5% 0;
	border-radius: 0 0 8px 8px;
}

.portfolio-thumbnail-container {
	float: left;
	width: 100%;
	padding: 10px 10px 10px 0;
}

.portfolio-thumbnail {
	float: left;
	display: inline;
	position: relative;
	text-align: center;
}

.portfolio-thumbnail img {
	width: 100%;
	height: auto;
	border: 1px solid #bbb;
}

.portfolio-archive-title {
	position: absolute;
	bottom: 20%;
	background: #0000008c;
	color: #fff;
	width: 70%;
	padding: 8px;
	right: 0;
	left: 0;
	margin: auto;
	border: 1px solid #ffffff69;
}
.project-details {
    border: 1px solid #bbbb;
    border-radius: 10px;
    background: #676565;
    color: #fff;
    box-shadow: inset 1px 1px 66px -41px #000;
    text-align: left;
    padding: 0 20px 0 20px;
}
.project-details p:nth-child(2) {
    border: 1px solid #585858bb;
    border-width: 1px 0 1px 0;
    padding: 13px 0 13px 0;
}
.main-post-div {
	padding: 0 15%;
}
.wpp-pagination {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
	padding-top: 20px;
    border-top: 1px solid #c3bfbf;
}
.wpp-pagination b {
    color: #000;
}
img,
video {
	max-width: 100%;
	vertical-align: middle;
}

.gallery-filter {
	color: #fff;
}
.masonry {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.gallery-item {
	position: relative;
	width: 100%;
	display: flex;
	background: #ffffff;
	margin-bottom: 5px;
	padding: 15px 29px;
	flex-wrap: nowrap;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}
.job-snippet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.job-snippet-wrap {
    display: flex;
    flex-direction: column;
}
.job-snippet-content {
    display: flex;
    align-items: center;
}
.gallery-item a {
	position: relative;
	border-radius: 5px;
	padding: 8px 20px;
	background: #555555;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.gallery-item b {
    color: #676767;
    font-size: 13px;
    background: #00000000;
    text-transform: capitalize;
}

.gallery-item img {
	height: 76px;
	width: auto;
	filter: grayscale(1);
}

.gallery-filter {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.gallery-filter .filter-item {
	color: #444444;
	font-size: 15px;
	text-transform: uppercase;
	display: inline;
	padding: 10px 17px;
	cursor: pointer;
	line-height: 1.2;
	transition: all 0.3s ease;
	font-family: 'Open Sans', sans-serif;
	background: #bbbbbb38;
	margin: 2px;
	border-radius: 3px;
}

.gallery-filter .filter-item.active {
	color: #ffffff;
	background: #0b6e89;
}

.gallery-item-inner img {
	width: 100%;
}

.gallery-item.show {
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.gallery-item.hide {
	display: none;
}

/*responsive*/
@media(max-width: 991px) {
	.gallery-item {
		width: 50%;
	}
}

@media(max-width: 767px) {
	.gallery-item {
		width: 100%;
	}

	.gallery-filter .filter-item {
		margin: 3px;
		padding: 9px 9px;
		background: #fffbfb;
		font-size: 13px;
	}

	.gallery-filter {
		margin-bottom: 10px;
		border: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
}