html.maze, body {
    height: auto;
    margin: 0;
    width: auto;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #f8f8f8;
    width: 100%;
}
h1, h2, h3, h4, h5 {font-family: "Manrope", sans-serif;position: relative;}

.custom-header-border-bottom:after {
    content: "";
    position: absolute;
    background: #412d8f;
    width: 19%;
    height: 3px;
    bottom: -9px;
    left: 0;
    border-radius: 0px;
}
.container-width-1100 {
    width: 1100px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    align-content: center;
}
.column-flex-down {
    align-items: flex-start;
    flex-direction: column;
}

.padding {
    padding: 50px 7% 50px 7%;
}
.padding-left {
    padding-left: 7%;
}
.padding-min-left {
    padding-left: 5%;
}
.padding-right {
    padding-right: 7%;
}
.padding-min-right {
    padding-right: 30px;
}
.view-more {
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    padding: 21px 64px;
    border-radius: 110px;
    font-size: 23px;
    position: relative;
    bottom: 0;
}

.center-content {
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    z-index: 5;
}
.center-text {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 5;
    padding-bottom: 13px;
    padding-top: 24px;
}
.center-text-h2-container h2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    z-index: 5;
    padding-bottom: 13px;
    padding-top: 24px;
    font-style: normal;
    font-weight: 700; 
}
.center-text-h2-container p {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: 700;
}
.center-text-h2-container h2 {
    color: #060618;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Glacial Indifference;
    font-size: 48px;font-style: normal;font-weight: 700;line-height: 0; /* 95.833% */}
.center-text h3 {color: #060618;text-align: center;font-feature-settings: 'clig' off, 'liga' off;font-family: Glacial Indifference;font-size: 29px;font-style: normal;font-weight: 700;line-height: 35px; /* 95.833% */}
a.cta {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 0px;
    font-weight: 600;
    border-radius: 3px;
}
.cta-white {
    background: #ffffff;
    color:#000
}
.cta-blue {
    background: #3e8e99;
    color: #fff;
}
@media screen and (max-width: 1100px) {
    .container-width-1100 {
        width: 100% !important;
        padding: 16px 5% !important;
    }
}
@media screen and (max-width: 1100px) {
    .container-width-1100 {
        width: auto !important;
    }
}