footer.footer {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.contact-cap-footer {
    background: #182153;
    color: #fff;
}
.contact-cap-footer-wrap {
    padding:50px 0;
    display: flex;
    justify-content: space-between;
}
.contact-cap-footer-wrap b {
    font-size:22px;
    padding:50px 0;
}
b.cap-footer-mobile {
    font-size: 35px;
    font-weight: 800;
}
.cta-footer-cap {
    background: #ffffff;
    color: #000000;
    width: 200px;
    margin: 0 !important;
}
div#footer-container {padding: 28px 0;}



div#section-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    float: left;
    padding: 30px 0 40px;
}

div#section-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links, .feed {
    width: 100%;
}
div#section-3 h3 {
    margin-bottom: 20px;
    color: #163d3c;
    text-transform: uppercase;
    font-size: 14px;
}
/***FOOTER ***/
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 75px;
}
.links-wrap a {
    text-decoration: none;
    padding-right: 25px;
    color: #000;
}
.view-more-footer {
    color:#000;
    padding: 9px 46px;
}

.wrap-footer-section {display: grid;}
/***FOOTER BOTTOM ***/
div#footer-cap {
    float: left;
    width: 100%;
    text-align: center;
    z-index: 1;
    position: relative;
    padding: 20px 0 3px;
}

.socialmedia-footer svg {
    width: 48px;
    padding: 12px;
    fill: #182153;
}

/***FOOTER BOTTOM END***/