footer.footer {
    background: #060816;
    display: flex;
    flex-direction: column;
}
.contact-cap-footer {
    background: #0a0e27;
    color: #fff;
    position:relative;
    width: 100%;
}
.contact-cap-footer:after {
    position:absolute;
    content: "";
    right: 0px;
    top: 0;
    background: url('../img/bg-art-6.png');
    background-repeat: no-repeat;
    background-size: 172px;
    height: 100%;
    width: 173px;
    color: #fff;
    z-index: 555555555;
}
.contact-cap-footer:before {
    position:absolute;
    content: "";
    left: 0px;
    top: 0;
    background: url('../img/bg-art-5.png');
    background-repeat: no-repeat;
    background-size: 172px;
    height: 100%;
    width: 173px;
    color: #fff;
    z-index: 555555555;
}
.contact-cap-footer-wrap {
    padding:50px 0;
    display: flex;
    justify-content: space-between;
}
.contact-cap-footer-wrap b {
    font-size:22px;
    padding:50px 0;
}
b.cap-footer-mobile {
    font-size: 35px;
    font-weight: 800;
}
.cta-footer-cap {
    background: #ffffff;
    color: #000000;
    width: 200px;
    margin: 0 !important;
}
div#footer-container {padding: 28px 0;}



div#section-3 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    float: left;
    padding: 30px 0 40px;
    color: #ffffff;
}
div#section-3 ul li a {
    color: #bcd4ff;
    line-height: 37px;
}
div#section-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.links, .feed {
    width: 100%;
    font-weight: 500;
}
div#section-3 h3 {
    margin-bottom: 20px;
    color: #93baff;
    text-transform: uppercase;
    font-size: 16px;
}
div#section-3 h3:after {
    content: "";
    position: absolute;
    background: #4222ff;
    width: 19%;
    height: 3px;
    bottom: 0px;
    left: 0;
    border-radius: 0px;
}
/***FOOTER ***/
.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 75px;
}
.links-wrap a {
    text-decoration: none;
    padding-right: 25px;
    color: #000;
}
.view-more-footer {
    color:#000;
    padding: 9px 46px;
}

.wrap-footer-section {display: grid;}
/***FOOTER BOTTOM ***/
div#footer-cap {
    float: left;
    width: 100%;
    text-align: center;
    z-index: 1;
    position: relative;
    padding: 20px 0 3px;
    background: #060816;
}
div#footer-cap p {
    color: #676767;
}
.socialmedia-footer svg {
    width: 48px;
    padding: 12px;
    fill: #a1a1a1;
}

/***FOOTER BOTTOM END***/