@media only screen and (max-width:651px) 
{
    .banner {
        overflow: auto;
    }
    div#mass-head h1 {
        float: left;
        padding: 0 21px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    h1.dc img {
    width: 280px;
    height: auto;
    padding: 30px 30px 30px 0;
}
.tagline {
    float: left;
    width: 100%;
    padding: 35px;
    padding-top: 0;
}
.bx img {
    width: 100%;
    padding: 30px;
}
div#main-container {
    float: left;
}
.direct-work {
    width: 100%;
    padding: 51px;
}
    .bx {
    width: 100%;
    height: auto;}
    div#main {
        width: 100% !important;
    }
    .web {
        width: 100%;
        float: left;
        padding: 5px;
    }
    div#footer-container {
        width: 100%;
    }
    .grid4 a {
        width: 100%;
    }
    .findme-container {
    display: inline-block;
}
    .welcome, .links, .feed {
        width: 100% !important;
        padding: 30px 0;
        border-radius: 0;
    }
    .links ul, .feed ul  {
        list-style-position: inside;
    }
    .findme {
        width: 100% !important;
        margin: 20px 0 0 !important;
        padding-bottom: 45px !important;
        text-align: center;
        border-radius: 0;
    }
    div#footer-column {
        width: 100%;
        padding: 10px 37px;
    }
    .excerpt-image {
        display: block;
        padding: 10px 41px;
    }
    div#section-3 {
    padding: 30px 28px 40px;
    text-align: center;
    }


    #topbar {
       padding: 32px 5%;
       position: relative;
    }
    h1.portfolio-title {
        text-align: center;
        background: #d9d9d9;
        margin: 0;
        padding: 23px 10px;
        font-family: 'Open Sans', sans-serif;
        color: #5b5353;
        text-transform: uppercase;
        font-size: 24px;
        box-shadow: inset 3px -5px 21px -14px #000;
        border-radius: 0;
    }
}